<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="person" name="别名, 没啥用" class="me.alphar.spring.createbean._01_constructor.Person"/>

    <bean id="cat1" class="me.alphar.spring.createbean._01_constructor.Cat1"/>

    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="me.alphar.spring.beanEditor.Car" value="me.alphar.spring.beanEditor.CustomCarEditor" />
            </map>
        </property>
    </bean>
    <bean id="boss" class="me.alphar.spring.beanEditor.Boss">
        <property name="name" value="John"/>
        <!-- 使用自定义的属性编辑器 -->
        <property name="car" value="奥迪A8L,200,50000"/>
    </bean>



    <bean id="car" class="me.alphar.spring.ioc.Car"></bean>


    <bean id="dog" class="me.alphar.spring.autowired.Dog">
        <property name="name">
            <value>XiaoHei</value>
        </property>
    </bean>
    <bean id="cat" class="me.alphar.spring.autowired.Cat">
        <property name="name">
            <value>Cate</value>
        </property>
    </bean>


    <bean class="me.alphar.spring.event.MailSendListener"/>
    <bean id="mailSender" class="me.alphar.spring.event.MailSender"/>
</beans>